
<h2> List of Ratings </h2>
Number of ratings <%= @ratings.count %> 
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
 <% end %>
</ul>
