
<h2> List of Ratings </h2>
Number of ratings <%= @ratings.count %> 
<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to 'delete', rating_path(rating.id), method: :delete, data: {confirm: 'Are you sure?'} %></li>
 <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %> </br>
