<p id="notice"><%= notice %></p>

<h1>Styles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style, class:"btn btn-info" %></td>
        <td><%= style.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>