<h2>Breeeweries</h2>
<p id="panimot">   </p>
<table id="brewerytable" class="table table-hover">
  <tr>
    <th> <a href="#" id="name">Name</a> </th>
    <th> <a href="#" id="year">Year</a> </th>
    <th> <a href="#" id="numbOfBeers">Number of beers</a> </th>
    <th> <a href="#" id="active">Active</a> </th>
  </tr>

</table>
